 /* Start Global Rules */
 * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  html {
    scroll-behavior: smooth;
  }
  .container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
  }
  /* Small */
  @media screen and (min-width: 300px){
    .container {
        width: auto;
    }
    .cards {
        width: 100%;
        display: block;
        margin-bottom: 20px;
    }
    .date { 
        font-size: 103%;
    }
    .card {
        width: 75%;
        height: 63%;
    }
    .dropdown{
        min-width: 50px;
        max-width: 100px;
    }
  }
  /* Medium */
@media screen and (min-width: 1024px) {
    .container {
      width: 970px;
    }
    .cards {
        width: 100%;
        display: block;
        margin-bottom: 20px;
    }
    .date { 
        font-size: 103%;
    }
    .card {
        width: 24%;
        height: 59%;
    }
    .dropdown{
        min-width: 100px;
        max-width: 200px;
    }

  }
  /* Large */
  @media screen and (min-width: 1200px) {
    .container {
      width: 1400px;
    }
    .cards {
        width: 100%;
        display: block;
        margin-bottom: 20px;
    }
    .date { 
        font-size: 118%;
    }
    .card {
        width: 15%;
        height: 63%;
    }
    .dropdown{
        min-width: 200px;
        max-width: 400px;
    }

  }
/* End Global Rules */
body {
    direction: rtl;
    background: linear-gradient(45deg, #2a0477, #311490);
    background-repeat: repeat;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
}
.city-name {
    /*font-size: 100px;*/
    color: white;
    font-weight: 400;
}
.date {
    color: aliceblue;
    font-weight: 200;
}
h1,h2,h3,h4,h5,h6 {
    margin: 0px;
}
hr {
    margin: 10px ; 
    border-color: rgb(90, 88, 241);
}
.card {
    /* width: 40%; */
    /* height: 100%; */
    background-color: aliceblue;
    box-shadow: 0px 10px 5px rgb(0 0 0 / 30%);
    text-align: center;
}
.header {
    background: linear-gradient(45deg, #5709ee, #7a37bf);
    color: aliceblue;
}
.header h1 {
    font-weight: 400;
    padding: 10px;
    font-size: 2rem;
}
.bodycard {
    height: 80%;
}
.center {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.time {
    color: rgb(45, 45, 45);
}
.dropdown {
    margin-top: 1rem;
    float: left;
}
.selection {
    min-width: 100px;
    max-width: 400px;
    height: 40px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #2a0477;
    color: aliceblue;
    border-radius: 20px;
    text-align: right;
    padding-right: 10px;
    position: relative;
}
@supports (display: grid) {
    .cards {
        display: flex;
        grid-template-rows: repeat(auto-fit, minmax(300px, 1fr));
        grid-gap: 16px;
        grid-auto-flow: 1fr;
        flex-wrap: wrap;
        flex-direction: row;
        align-items: flex-end;
    }
}
.cards {
    width: 90%;

}
@media (min)